<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>

<header>Aplikasi Pegawai</header>

<div class="container">

<aside>
<ul class="menu">
<li><a href="dashboard.html">Dashboard</a></li>
<li><a href="tabel.html">Data Pegawai</a></li>
<li><a href="form.html">Tambah</a></li>
<li><a href="login.html">Logout</a></li>
</ul>
</aside>

<section class="main">
<h2>Selamat Datang</h2>
<p>Admin</p>
</section>

</div>

<footer>© 2026</footer>

</body>
</html>