<!DOCTYPE html>
<html>
<head>
<title>Tabel</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>

<header>Data Pegawai</header>

<div class="container">

<aside>
<ul class="menu">
<li><a href="dashboard.html">Dashboard</a></li>
<li><a href="tabel.html">Data</a></li>
</ul>
</aside>

<section class="main">

<h2 class="judul">Data Pegawai</h2>

<table class="table">
<tr>
<th>No</th>
<th>Nama</th>
<th>Jabatan</th>
</tr>

<tr>
<td>1</td>
<td>Ahmad</td>
<td>Manager</td>
</tr>

</table>

</section>
</div>

</body>
</html>